:root{
    --primary-color: #1e293b;
}


/*Menu*/
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1rem;
    color: #fff;
}
header ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
header ul a{
    color: #fff;
    text-decoration: none;
}


/*Carrosel*/
.container-slider{
    background-color: #000;
}
.slider-wrapper{
    position: relative;
    max-width: 1000px;
    margin: 0 auto
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #000;
}
.slider img{
    flex: 1 0 100%;
    object-fit: contain;
}
.slider-navigation{
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 1.25rem;
    z-index: 1;
    width: 100%;
    justify-content: center;
}
.slider-navigation a{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.75;
}
.slider-navigation a:hover{
    opacity: 1;
}

main{
    max-width: 1500px;
    margin-inline: auto;
}
.title-container{
    text-transform: uppercase;
}
